<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.bxbxbai.zhuanlan">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
            android:name=".ZhuanlanApplication"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:allowBackup="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.EntryActivity"
                android:alwaysRetainTaskState="true"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.FullScreen"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.MainActivity"
                android:alwaysRetainTaskState="true"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

      <activity
                android:name=".ui.SearchActivity"
                android:alwaysRetainTaskState="true"
                android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
                android:name=".ui.WebActivity"
                android:label="@string/title_activity_about">
            <intent-filter>
                <action android:name="com.bxbxbai.zhuanlan.ui.activity.AboutActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.StoryActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.Toolbar.WhiteBackground"
                  android:parentActivityName=".ui.MainActivity"/>

        <activity android:name=".ui.PostListActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".ui.MainActivity"/>

        <activity android:name=".ui.AllPeopleActivity"
                  android:launchMode="singleTask"
                  android:parentActivityName=".ui.MainActivity"/>

        <activity android:name=".ui.RecentPostListActivity"
                  android:screenOrientation="portrait"/>
    </application>
</manifest>
